body{
    max-width: 480px;
    margin: 0 auto;
    font-family: sans-serif;
    color: white;
}

div{
    float: left;
    text-align: auto;
}

#a{
    background-color: #806000;
    width: 480px;
    height: 75px;
    position: relative;
}

#a p{
    position: absolute;
    right: 240px;
    top: 30px;
}

#b{
    background-color: #706005;
    width: 480px;
    height: 150px;
    position: relative;
}

#b p{
    position: absolute;
    right: 240px;
    top: 70px;
}

#c{
    background-color: #606010;
    width: 480px;
    height: 125px;
    position: relative;
}

#c p{
    position: absolute;
    right: 240px;
    top: 55px;
}

#d{
    background-color: #506015;
    width: 480px;
    height: 125px;
    position: relative;
}

#d p{
    position: absolute;
    right: 240px;
    top: 55px;
}

#e{
    background-color: #406020;
    width: 240px;
    height: 250px;
    position: relative;
}

#e p{
    position: absolute;
    right: 120px;
    top: 125px;
}

#f{
    background-color: #306025;
    width: 240px;
    height: 250px;
    position: relative;
}

#f p{
    position: absolute;
    right: 120px;
    top: 125px;
}

#g{
    background-color: #206030;
    width: 240px;
    height: 250px;
    position: relative;
}

#g p{
    position: absolute;
    right: 120px;
    top: 125px;#607030
}

#h{
    background-color: #106035;
    width: 240px;
    height: 250px;
    position: relative;
}

#h p{
    position: absolute;
    right: 120px;
    top: 125px;
}

#i{
    background-color: #006040;
    width: 480px;
    height: 80px;
    position: relative;
}

#i p{
    position: absolute;
    right: 240px;
    top: 35px;
}

@media(min-width:768px){
    body{
        max-width: 960px;
        margin: 0 auto;
    }
    
    div{
        float: left;
    }
    
    #a{
        background-color: #c00040;
        width: 960px;
        height: 100px;
    }
    
    #a p{
        right: 480px;
        top: 45px;
    }

    #b{
        background-color: #a50540;
        width: 200px;
        height: 600px;
    }
    
    #b p{
        right: 100px;
        top: 300px;
    }

    
    #c{
        background-color: #901040;
        width: 380px;
        height: 200px;
    }
    
    #c p{
        right: 190px;
        top: 100px;
    }

    #d{
        background-color: #751540;
        width: 380px;
        height: 200px;
    }
    
    #d p{
        right: 190px;
        top: 100px;
    }

    #e{
        background-color: #602040;
        width: 190px;
        height: 250px;
    }
    
    #e p{
        right: 90px;
        top: 125px;
    }

    #f{
        background-color: #452540;
        width: 190px;
        height: 250px;
    }
    
    #f p{
        right: 90px;
        top: 125px;
    }

    #g{
        background-color: #303040;
        width: 190px;
        height: 250px;
    }
    
    #g p{
        right: 90px;
        top: 125px;
    }

    #h{
        background-color: #153540;
        width: 190px;
        height: 250px;
    }
    
    #h p{
        right: 90px;
        top: 125px;
    }

    #i{
        background-color: #004040;
        width: 760px;
        height: 150px;
    }

    #i p{
        right: 380px;
        top: 75px;
    }
  }